html, body {
    height: 100%;
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
header, footer{
    flex:1;
}
body>div{
    flex:14;
}
main, main>.row{
    height:100%;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}
.faq .container-fluid{
    padding:0;
}
.faq>div, main, main>div, #sidebar, #sidebar-nav{
  /*  height:100%; */
}
#sidebar{
    background: #a9c056;
}
#content, #main, #sidebar-nav ul{
    padding-top: 15px;
}
#sidebar-nav ul{
    list-style: none;
    margin-left: -25px;
}
#sidebar-nav ul li{
    padding: 15px 0; 
    margin-top: -15px;
}
#main{
    padding-left: 20px;
}    
main>div.row{
    width:99.9%;
}
.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.faqs-list{
        list-style: none;
}
.faqs-list li{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0px 0px -38px;
    border-radius: 2px;
}
.m-b-md {
    margin-bottom: 30px;
}
.navbar-inner{
    width: 100%;
}
#logo{
    flex: 1;
}
header .nav{
    flex: 2;
}
header .nav li{
    margin-right: 20px;
}
.footer > div{
    height: 60px;
}